root = true

[{.editorconfig,.gitignore,*.{config,json,lock,md,nix}}]
charset = utf-8

[*.{cs,csproj,sln}]
charset = utf-8-bom

[{.editorconfig,.gitignore,*.{config,cs,csproj,json,lock,md,nix,sln}}]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{config,json,lock,nix}]
indent_style = space
indent_size = 2

[.{cs,csproj}]
indent_style = space
indent_size = 4

[*.sln]
indent_style = tab
indent_size = 4
